<!-- user.erb -->
<h2>User Information</h2>

<ul>
  <li><strong>Name: <%= @contact.name %></li>
  <li><strong>Email: <%= @contact.email %></li>
  <li><strong>Phone: <%= @contact.phone %></li>
</ul>

<div>
  <a href="/contacts" class="button">Return</a>
</div>
