<h2>All Contacts</h2>
<% @contact_list.each do |contact| %>
  <ul>
    <li>
      <a href="/contacts/<%= contact.id %>"><%= contact.name %></a>
      <form action="/contacts/<%= contact.id %>/edit" method="get">
        <button type="submit">Edit</button>
      </form>
      <form action="/contacts/<%= contact.id %>/delete" method="post" onsubmit="return confirm('Are you sure you want to delete this contact?');">
        <button type="submit">Delete</button>
      </form>
    </li>
  </ul>
<% end %>
